* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.header-list h1 {
    font-size: 16px;
    background-color: whitesmoke;
    font-weight: bold;
    margin: 0 10px;
    padding: 10px 40px;
    border-radius: 5px;
    width: 50px;
    float: left;
}
.header {
    width: 100%;
    height: 100vh;
    background: url("../img/david-marcu-Op5JMbkOqi0-unsplash.jpg") no-repeat center fixed;
    background-size: cover;
    position: relative;
}

.header .content {
    padding: 30px 100px;
}

.header-tittle {
    width: 50%;
    position: absolute;
    top: 30%;
    left: 9%;
}

.header-tittle h1 {
    font-size: 56px;
    color: #fff;
}

.header-tittle p {
    color: #fff;
    margin: 30px 0;
}

.header-list {
    float: right;
    padding: 5px 30px;
    background-color: rgba(138, 44, 226, 1);
    border: 1px solid white;
    width: 100vw;
    clear: left;
    float: left;
    position: fixed;
    z-index: 1;
    overflow: hidden;
}

.header-list ul a {
    float: left;
    text-decoration: none;
    margin: 0 10px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 40px;
    text-transform: uppercase;
    transition: transform .5s;
}

.header-list a:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.header-list .contact {
    border: 3px solid white;
    margin-top: 0 !important;
    transition: transform .5s;
    border-radius: 2px;
}

.header-list .contact:hover {
    background-color: blueviolet;
    color: #fff;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.btn {
    background-color: blueviolet;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    transition: all .5s !important;
    border: 3px solid blueviolet;
}

.btn:hover {
    background-color: unset;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.menu-icon {
    color: #fff;
    float: right;
    font-size: 32px;
    padding: 0 20px;
    display: none;
}


/* bagian section footer & reviews */

.footer {
    padding: 40px 0;
    background-color: whitesmoke;
    margin-top: 100px;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;
}

.footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.footer .social a:hover {
    opacity: 0.9;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover {
    opacity: 1;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}

header {
    margin-top: 1000px;
}

.container2 {
    height: 400px;
    width: 100%;
    background-color: #c1c1c1;
    display: flex;
}

.profile-icon img {
    width: 80px;
    margin-top: 30px;
}

.container-reviews {
    height: 300px;
    text-align: center;
    padding: 80px;
}

.textreviews {
    text-align: center;
    padding: 20px;
}

.textreviews p {
    padding: 5px;
}

.bintang li {
    width: 15px;
    display: flex;
    margin: auto;
    position: relative;
    right: 30px;
}


/* service */

.service {
    height:60vh;
    width: 100%;
    padding: 30px 100px;
}

.service-title {
    padding-top: 50px;
    text-align: center;
}

.service-title h1 {
    font-size: 25px;
    letter-spacing: 1px;
    padding: 10px;
    color: blueviolet;
}

.service-title p {
    width: 50%;
    margin: auto;
    text-transform: capitalize;
    font-size: 15px;
}

.service-content {
    display: flex;
    padding-top: 4%;
    text-align: center;
}

.service-icons img {
    width: 60px;
    height: 60px;
    background-color: blueviolet;
    border-radius: 100%;
    padding: 10px;
}

.service-float {
    padding: 2%;
}

.service-text h1 {
    margin: 2%;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.service-text p {
    font-size: 12px;
    color: black;
    opacity: 0.7;
}


/* end */


/* faetured */

.featured {
    background-color: #FDF6EC;
    height: 130vh;
    width: 100%;
}

.featured-box {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.featured-img {
    padding: 30px 100px;
}

.featured-img img {
    width: 500px;
    padding-top: 20px;
}

.featured-text {
    padding: 30px 100px;
    padding-left: 20px;
}

.featured-text h1 {
    padding-top: 20px;
    text-transform: capitalize;
    font-size: 30px;
}

.featured-text p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    letter-spacing: 1px;
    font-size: 12px;
    width: 95%;
    letter-spacing: 1px;
    color: black;
    opacity: 0.7;
}

.featured-text ul {
    padding-left: 20px;
    padding-bottom: 30px;
}

.featured-text ul li {
    list-style: circle;
    font-size: 12px;
    margin: 2px;
}

.featured-text-bottom {
    padding: 30px 100px;
    padding-right: 20px;
}

.featured-text-bottom h1 {
    padding-top: 20px;
    text-transform: capitalize;
    font-size: 30px;
}

.featured-text-bottom p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    letter-spacing: 1px;
    font-size: 12px;
    width: 95%;
    letter-spacing: 1px;
    color: black;
    opacity: 0.7;
}

.featured-text-bottom ul {
    padding-left: 20px;
    padding-bottom: 30px;
}

.featured-text-bottom ul li {
    list-style: circle;
    font-size: 12px;
    margin: 2px;
}


/* end */

.section {
    background-color: whitesmoke;
}
/* dwadadwad */

.container-hape {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 40px auto;
    height: 50vh;
    background-size: cover;
}

.kiri {
    width: 40%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.kanan {
    background-image: url(../img/iPhone_13.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    margin-right: -100px;
    margin-top: 100px;
}

.kanan1 {
    background-image: url(../img/MacBook_Pro_16.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    margin-right: -100px;
    margin-top: 100px;
}

.kiri h1 {
    margin-bottom: 20px;
    ;
}

.kiri p {
    margin-bottom: 20px;
}

.kiri li {
    margin-bottom: 10px;
}

.kiri ul {
    margin-left: 17px;
}

.aw {
    position: relative;
    top: 15px;
    background-color: blueviolet;
    padding: 10px 20px;
    width: 135px;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}

.aw:hover {
    transform: scale(1.1);
}
